<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @up.usuario %>
</p>

<p>
  <strong>Adjunto:</strong>
  <%= @up.adjunto %>
</p>

<%= link_to 'Editar', edit_up_path(@up) %> |
<%= link_to 'Atras', ups_path %>
