<div class="card" style="width: 40rem;">
  <div class="card-body">
    <h5 class="card-title">Panel AppCSVConfigurations</h5>
    <p class="card-text">  
      <%= form_with(model: app_csv_configuration, local: true) do |form| %>
        <% if app_csv_configuration.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(app_csv_configuration.errors.count, "error") %> prohibited this app_csv_configuration from being saved:</h2>

            <ul>
            <% app_csv_configuration.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name %>
        </div>

        <div class="field">
          <%= form.label :ruta %>
          <%= form.file_field :ruta %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </p>
  </div>
</div>
